html,body{
	height:100%;
}

body {
	margin: 0;
	padding: 0;
	font: 12px arial;
}

input{
	overflow: hidden;
}

.wrapper{
	position: relative;
	min-width: 810px;
	min-height: 600px;
	height: 100%;
	_height:600px;
}

.header {
	overflow: hidden;
}

.header .nav {
	float: right;
	margin:19px 0 5px 0;
	padding:0 142px 0 0;
}

.header .nav a {
	margin-left: 20px;
	color: #333;
	font-weight: bold;
	line-height:24px ;
	font-size:13px;
	float:left;
}

.header .nav a:hover{
	color: #00c;
}

/*设置下拉菜单*/
.setting-menu{
	position: absolute;
	width: 54px;
	height: 24px;
	right: 86px;
	text-align: center;
}

.setting-menu a{
	margin:0;
	text-decoration: none;
}

.setting-menu:hover .baidu-setting{
	display: block;
}

.setting-menu .baidu-setting{
	position: absolute;
	top: 25px;
	left: 3px;
	width: 60px;
	border:1px solid #dddddd;
	box-shadow:1px 1px 5px #ddd;
	z-index: 99;
	display: none;
}

.setting-menu .baidu-setting a{
	display: inline-block;
	width: 100%;
	color: #333;
	margin-left: 0;
}

.setting-menu .baidu-setting a:hover{
	color: #ffffff;
	background: #3385ff;
}

.setting-menu .icon-trangle{
	top: -11px;
	left: 24px;
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	border:5px solid transparent;
	border-style:dashed dashed solid dashed;
	border-bottom-color:#d8d8d8;
}

.setting-menu .icon-trangle01{
	content: '.';
	top: -4px;
	left: -5px;
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	border:5px solid transparent;
	border-style:dashed dashed solid dashed;
	border-bottom-color:#ffffff;
}

/*更多产品侧边栏*/
.more-product{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 75px;
	min-height: 600px;
	border-left: 1px solid #dddddd;
	background-color: #f9f9f9;
	display: none;
	z-index: 999;
}


.more-product ul{
	padding:0 5px;
	text-align: center;
	width: 65px;
	list-style-type: none;
}

.more-product li{
	position: relative;
	height: 60px;
	width: 65px;
	margin: 0;
	border-bottom:1px solid #ddd;
	padding-top:10px;
	overflow: visible;
}

.more-product a{
	color: #333;
	text-decoration: none;
}
.more-product a:hover{
	text-decoration: underline;
}

.more-product .more-sub-btn{
	height:20px
}

.more-product .more-sub-btn a{
	text-decoration: none;
}

.more-product span{
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.more-product .more-sub-one{
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) 2px 0;
}

.more-product .more-sub-two{
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) -36px 0;
}

.more-product .more-sub-three{
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) -74px 0;
}

.more-product .more-sub-four{
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) -112px 0;
}

.more-product .more-sub-five{
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) -146px 0;
}

.more-product .more-sub-six{
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) -184px 0;
}

.more-product .more-sub-seven{
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) -220px 0;
}

.more-product .more-all{
	border:none;
	text-decoration: underline;
}


/*更多产品*/
.header .nav .more{
	position: absolute;
	right: 10px;
	width:60px;
	height:23px;
	float: left;
	color: white;
	background: #3388ff;
	line-height: 24px;
	font-size:13px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #3388ff;
	margin-left: 19px;
	margin-right:2px;
	text-decoration: none;
}

.header .nav .more:hover{
	color:#ffffff;
	display: block;
}

/*主体*/
.content {
	position: relative;
	top:38.2%;
	height: 191px;
    width: 100%;
	text-align: center;
}

.content .search-form{
	height: 191px;
	width: 650px;
	position: relative;
	margin:0 auto;
	top: -191px;
}

.content img {
	width: 270px;
	height: 129px;
}

.content .search-input {
	width: 539px;
	height: 28px;
	line-height: 28px;
	border:1px solid #ddd;
	border-right-width:0;
	padding:3px 0 3px 7px;
	vertical-align: middle;
}

.content .search-input:hover{
	border-color:#999 transparent #b3b3b3 #999;
}

.content .search-input:focus{							/*:focus 选择器用于选取获得焦点的元素。*/
	border-color:#4791ff transparent #4791ff #4791ff;
}

.content .search-btn {
	width: 100px;
	height: 36px;
	margin: -5px;
	color: white;
	font-size:15px;
	letter-spacing:1px;			/*检索或设置对象中的字符之间的最小，最大和最佳间隙。*/
	background: #3385ff;
	border:1px solid #2D78F4;
	vertical-align: middle;		/*记得垂直居中的作用*/
	cursor:pointer;		/*靠近有鼠标切换小手*/
}

.content .search-btn:hover{
	background-color: #317ef3;
}

.input-hover{
	border-color:#999 transparent #b3b3b3 #999;
}

.input-focus{
	border-color:#4791ff transparent #4791ff #4791ff;
}

.content form{
	position: relative;
}

/*麦克风*/
.content .icon-mic{
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 24px;
	top: 6px;
	right:109px;
	background:url(./img/famer.png) 4px 4px no-repeat;
	cursor: pointer;
}

.content .icon-mic:hover{
	background:url(./img/famer.png) 4px -16px no-repeat;
}

/*底部*/

.footer {
	padding-top: 50px;
	position: absolute;
	bottom:44px;
	text-align: center;
	width:100%;
}

.footer p {
	text-align: center;
}

.footer .footer-top{
    margin: 5px 0 7px 0;
}

.footer p a{
	color:#00c;
}

.footer p a：hover{
	color: #00c;
}

.footer .copy-right a{
	color: #666;
}

.footer .copy-right a:hover{
	color: #666;
}

.footer .icon-copyright{
	position: relative;
	top: 3px;
	display: inline-block;
	width: 14px;
	height: 17px;
	background: url("./img/temright.png") -600px -96px no-repeat;
}